@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.p-dropdown-panel{
  background-color: white;
  border-radius: 0.5rem;
  border: solid 1px #eceef1;
}
.p-dropdown-item{
  padding: 10px;
  opacity: 0.9;
}
.p-dropdown-item:hover{
  background-color: rgba(235, 235, 235, 0.74);
}

.p-radiobutton-input{
  width: 17px;
  height: 17px;
  cursor: pointer;
  vertical-align: sub;
}

.p-radiobutton-input:checked{
  accent-color: black;
} 

audio::-webkit-media-controls-enclosure{
  border-radius: 0.5rem;
}