@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.p-dropdown-panel{
  background-color: white;
  border-radius: 0.5rem;
  border: solid 1px #eceef1;
}
.p-dropdown-item{
  padding: 10px;
  opacity: 0.9;
}
.p-dropdown-item:hover{
  background-color: rgba(235, 235, 235, 0.74);
}

.p-radiobutton-input{
  width: 17px;
  height: 17px;
  cursor: pointer;
  vertical-align: sub;
}

.p-radiobutton-input:checked{
  accent-color: black;
} 

audio::-webkit-media-controls-enclosure{
  border-radius: 0.5rem;
}

.p-checkbox{
  cursor: pointer;
  display: inline-flex;
  position: relative;
  user-select: none;
  vertical-align: bottom;
  width: 1.5rem;
  height: 1.5rem;
}
.p-checkbox-input{
  position: absolute;
  appearance: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 10;
  outline: none;
  cursor: pointer;
}

.p-checkbox-box{
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  width: 1.5rem;
  height: 1.5rem;
  color: #4b5563;
  border-radius: 0.5rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}